<!-- Главное меню всего сайта. -->
{% load static %}

<header>
    <title>ИТ Портал</title>
    <div class="main_header">
        <div class="logo">
            <a href="{% url 'index' %}"><img class="graficlogo" src="{% static 'images/logo_rat.png'%}"></a>
        </div>
        <div class="header_search">
            <form>
                <input type="search" placeholder="Поиск">
            </form>
        </div>
        <div class="user_nav">

                <img class="user_avatar" src="{% if 'request.user.photo.url' == '' %}{% static '/images/default_photo.jpg' %}{% else %}{{request.user.photo.url}}{% endif %}">
            <div class="user_info">
                <div class="username"><h4>{{request.user.bio}}</h4></div>
                <div class="username"><h5>{{request.user.otdel}}</h5></div>
            </div>
        </div>
    </div>
    <div class="mainnav">
        <div class="topnav" id="myTopNav">
            <a href="{% url 'index' %}"><i class="fa fa-home"></i><span class="menu-text">Компания</span></a>
            <a href="{% url 'index' %}"><i class="fa fa-bar-chart-o"></i><span class="menu-text">Сотрудники</span></a>
            <a href="{% url 'index' %}"><i class="fa fa-home"></i><span class="menu-text">Документы</span></a>
            <a href="{% url 'index' %}"><i class="fa fa-home"></i><span class="menu-text">Сервисы</span></a>
            <a href="{% url 'index' %}"><i class="fa fa-home"></i><span class="menu-text">Система управления знаниями</span></a>
            <a href="{% url 'index' %}"><i class="fa fa-home"></i><span class="menu-text">Контакты</span></a>
            <a id="menu" class="icon">&#9776;</a>
        </div>

    </div>

</header>
<script src="{% static 'js/header.js' %}"></script>
<!--Скрипты для заголовка слайдеры и счетчики-->